.formGroup {
    display: flex;
    flex-direction: column;
    max-width: 556px;
    max-height: 560px;
    background: #FFFFFF;
    box-shadow: 0px 80.6px 105.701px rgba(51, 51, 51, 0.1);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 50px 40px 40px 40px;

    .form {
        display: flex;
        flex-direction: column;
        margin-bottom: 38px;

        .input {
            margin-bottom: 20px;
        }

        .rememberLink {
            font-weight: 500;
            font-size: 14px;
            text-align: right;
            color: #0081FE;
            margin-bottom: 24px;
            transition: all 0.3s ease;

            &:hover {
                text-shadow: 0px 0px 24px lighten(#0081FE, 15%);
            }
        }

        .submit {
            width: 166.55px;
            height: 49.31px;
            background: #0081FE;
            box-shadow: 0px 24px 34px rgba(32, 70, 100, 0.1);
            border-radius: 10px;
            text-transform: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin: 0 auto;
            transition: all 0.3s ease;

            &:hover {
                box-shadow: 0px 0px 34px lighten(#0081FE, 15%);
            }
        }
    }

    .registryBlock {
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        line-height: 1.1;
        margin-bottom: 55px;

        p {
            margin: 0;
        }

        .regLink {
            color: #0081FE;
            transition: all 0.3s ease;

            &:hover {
                text-shadow: 0px 0px 24px lighten(#0081FE, 15%);
            }
        }
    }

    .social {
        margin: 0 auto;

        .socialGroup {
            display: flex;
            justify-content: space-around;

            img {
                filter: grayscale(1);
                transition: all 0.3s ease;

                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }
}